:root {
  --font-header: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  --font-paragraph: "Libre Franklin", Arial, Helvetica, sans-serif;
  --font-normal: 400;
  --font-bold: 700;
  --primary-font-size: 16px;
  --secondary-font-size: 20px;
  --primary-line-height: 1.5;
  --primary-color: #222222; /* primary color */
  --secondary-color: #ffffff;
  --accent-color: #0f73f6;
  --state-change-color: #1166d4;
  --bg-color: #f0f6fd;
  --opacity-80: #222222cc; /* 80% */
  --opacity-70: #222222b3; /* 70% */
  --opacity-50: #22222280; /* 50% */
  --opacity-15: #22222226; /* 15% */
  --system-error-color: #ea4335;
  --system-confirmed-color: #21e786;
  --border-radius-s: 10px;
  --border-radius-m: 20px;
  --box-shadow-s: 0 4px 40px 0 #1d395f05;
  --box-shadow-m: 0 4px 40px 0 #1d395f14;
  --trasition-effect: 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 1280px;
  min-height: 100vh;
  background-color: var(--secondary-color);
  font-family: var(--font-paragraph);
  font-weight: var(--font-normal);
  font-style: normal;
  font-size: var(--secondary-font-size);
  line-height: var(--primary-line-height);
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
  /* border: 1px solid #dc1c1c; */
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/****** Styling classes ********/

.franklin-normal-16 {
  font-family: var(--font-paragraph);
  font-weight: var(--font-normal);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
}

.franklin-bold-16 {
  font-family: var(--font-paragraph);
  font-weight: var(--font-bold);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
}

.jakarta-bold-20 {
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: var(--secondary-font-size);
  line-height: var(--primary-line-height);
}

/*********** Header Styles *****************/

.header {
  padding-block: 24px;
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-block {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 56px;
}

.logo-header {
  display: block;
  font-family: var(--font-header);
  font-weight: 800;
  font-size: var(--secondary-font-size);
  line-height: 1.4;
  color: var(--accent-color);
  letter-spacing: -0.4px;
  cursor: pointer;
  transition: color var(--trasition-effect);
}

.logo-header::first-letter {
  text-transform: capitalize;
}

.logo-header:hover,
.logo-header:active,
.logo-header:focus {
  color: var(--state-change-color);
}

.navigation-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

/* .nav-menu-item {
  border: 1px solid #000;
} */

.nav-menu-link {
  color: inherit;
  border-bottom: 1px solid transparent;
  transition: var(--trasition-effect);
}

.nav-menu-link.active {
  font-weight: var(--font-bold);
  border-bottom: 1px solid var(--primary-color);
}

.nav-menu-name {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  position: relative;
}

.nav-menu-name::after {
  content: attr(data-text);
  font-weight: var(--font-bold);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.nav-menu-link:hover,
.nav-menu-link:active,
.nav-menu-link:focus {
  font-weight: var(--font-bold);
  border-bottom: 1px solid var(--primary-color);
}

.dropdown-item {
  position: relative;
}

.dropdown {
  cursor: pointer;
}

.arrow-header {
  fill: var(--accent-color);
  margin-bottom: 2px;
  /* margin-left: 4px; */
  transition: rotate var(--trasition-effect);
}

.dropdown:hover .arrow-header,
.dropdown:active .arrow-header,
.dropdown:focus .arrow-header {
  rotate: x 180deg;
}

.dropdown-block {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}

.dropdown-content {
  width: max-content;
  position: relative;
  margin-top: 12px;
  padding: 20px 60px 20px 20px;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-m);
  border-radius: var(--border-radius-s);
  z-index: 1;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 12px;
  border: 10px solid transparent;
  border-bottom-color: var(--secondary-color);
}

.dropdown-item:hover .dropdown-block {
  display: block;
}

.dropdown-content-item:not(:last-child) {
  margin-bottom: 14px;
}

.dropdown-content-link {
  color: var(--opacity-80);
  text-transform: capitalize;
  transition: border var(--trasition-effect);
}

.dropdown-content-link:hover,
.dropdown-content-link:active,
.dropdown-content-link:focus {
  border-bottom: 1px solid var(--opacity-80);
}

.label-header {
  padding: 1px 6px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-s);
  font-weight: var(--font-bold);
  font-size: 8px;
  line-height: 1.25;
  color: var(--secondary-color);
  position: relative;
  top: -2px;
}

.search-bar {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.search-form {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px 20px;
  color: var(--font-color);
  border: 1px solid var(--opacity-15);
  border-radius: 25px;
  transition: border var(--trasition-effect);
}

.search-input:hover,
.search-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.search-input::-webkit-search-cancel-button {
  padding-right: 30px;
  margin-left: 10px;
}

.search-input::placeholder {
  font-family: var(--font-paragraph);
  font-weight: var(--font-normal);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  color: var(--opacity-50);
}

.btn-search {
  padding: 2px;
  display: block;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 20px;
}

.btn-search:hover .icon-search,
.btn-search:active .icon-search,
.btn-search:focus .icon-search {
  fill: var(--state-change-color);
}

.icon-search {
  fill: var(--accent-color);
  vertical-align: middle;
  transition: fill var(--trasition-effect);
}

.btn-cart {
  text-align: center;
  padding: 5px 10px;
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: background var(--trasition-effect);
}

.cart-icon-header {
  fill: var(--accent-color);
  vertical-align: text-top;
  transition: fill var(--trasition-effect);
}

.btn-cart:hover,
.btn-cart:active,
.btn-cart:focus {
  background-color: var(--accent-color);
}

.btn-cart:hover .cart-icon-header,
.btn-cart:active .cart-icon-header,
.btn-cart:focus .cart-icon-header {
  fill: var(--secondary-color);
}

/**************** Main **************************/

.main {
  display: grid;
  row-gap: 120px;
}

/************** Hero section *********************/

.hero {
  background-image: linear-gradient(90deg, #f0f6fd 44%, #ffffff 100%);
  background-color: var(--secondary-color);
}

.hero-section {
  padding-block: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 110px;
}

.hero-content {
  max-width: 562px;
}

.section-header {
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 60px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.header-line {
  display: block;
}

.accent-header {
  color: var(--accent-color);
}

.hero-text {
  margin-block: 16px 36px;
  color: var(--opacity-70);
}

.hero-text::first-letter {
  text-transform: capitalize;
}

.btns-header {
  display: flex;
  column-gap: 24px;
}

.btn-shop {
  max-width: 170px;
  text-wrap: wrap;
  padding: 12px 46px;
  border-radius: var(--border-radius-s);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  text-transform: capitalize;
  transition: background var(--trasition-effect);
}

.btn-shop:hover,
.btn-shop:active,
.btn-shop:focus {
  background-color: var(--state-change-color);
}

.btn-explore {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  color: var(--primary-color);
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
}

.icon-play {
  display: inline-flex;
  padding: 16px 14px 16px 18px;
  background-color: var(--secondary-color);
  border-radius: 25px;
  box-shadow: var(--box-shadow-s);
}

.icon-play-img {
  fill: var(--accent-color);
}

.btn-explore-text {
  border-bottom: 1px solid transparent;
  transition: border var(--trasition-effect);
}

.btn-explore:hover .btn-explore-text,
.btn-explore:active .btn-explore-text,
.btn-explore:focus .btn-explore-text {
  border-bottom: 1px solid var(--primary-color);
}

.hero-images {
  position: relative;
  overflow: hidden;
}

.hero-images::before {
  content: "";
  display: block;
  padding: 10px;
  width: 56px;
  height: 56px;
  background-image: url("../img/icons/icon-shapes.svg");
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: center;
  background-color: var(--secondary-color);
  border-radius: 5px;
  position: absolute;
  top: 8px;
  right: 60px;
  z-index: 1;
  box-shadow: var(--box-shadow-m);
}

.hero-images::after {
  content: "";
  display: block;
  padding: 10px;
  width: 56px;
  height: 56px;
  background-image: url("../img/icons/icon-palettes.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  background-color: var(--secondary-color);
  border-radius: 5px;
  position: absolute;
  bottom: 40px;
  left: 30px;
  z-index: 1;
  box-shadow: var(--box-shadow-m);
}

.hero-img-woman {
  display: block;
  margin: 38px 0px 10px auto;
  transform: scale(1.3);
  border-radius: var(--border-radius-s);
}

.hero-img-website {
  display: block;
  margin-left: 110px;
}

.hero-img-laptop {
  position: absolute;
  transform: scale(1.3);
  top: 25px;
  left: 0;
  border-radius: var(--border-radius-s);
}

/****************** Categories section ********************/
.categories {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  /* column-gap: 20px; */
}

.categories-content {
  max-width: 530px;
  width: 100%;
}

.section-name {
  margin-bottom: 12px;
  color: var(--accent-color);
  letter-spacing: 3px;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.section-title {
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 48px;
  line-height: 1.2;
  color: var(--primary-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.section-description {
  margin-top: 16px;
  color: var(--opacity-70);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.section-description::first-letter {
  text-transform: capitalize;
}

.section-button {
  display: block;
  margin-top: 40px;
}

.category-card-list {
  max-width: 630px;
  max-height: 550px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, fit-content(305px));
  grid-template-rows: repeat(2, 60px 122px) 60px;
  gap: 20px;
}

.category-card {
  max-width: 305px;
  padding: 24px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-m);
  transition: all var(--trasition-effect);
}

.card-uikits {
  grid-column: 1/2;
  grid-row: 1/3;
}

.card-presentation {
  grid-column: 1/2;
  grid-row: 3/5;
}

.card-bottom {
  grid-column: 1/2;
  grid-row: 5/6;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(to bottom, #f0f6fd 0.2%, #ffffff00 100%);
}

.card-top {
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(to top, #f0f6fd 0.2%, #ffffff00 100%);
}

.card-illustration {
  grid-column: 2/3;
  grid-row: 4/6;
}

.card-media {
  grid-column: 2/3;
  grid-row: 2/4;
}

.card-bottom *,
.card-top * {
  visibility: hidden;
}

.category-card-title {
  margin-block: 16px 4px;
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 28px;
  line-height: 1.4;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-card-text {
  color: var(--opacity-80);
  transition: color var(--trasition-effect);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-y: hidden;
}

.category-card-text::first-letter {
  text-transform: capitalize;
}

.icon-cat-uikits,
.icon-cat-presentation,
.icon-cat-illustration {
  stroke: var(--accent-color);
  transition: stroke var(--trasition-effect);
}

.icon-cat-media {
  fill: var(--accent-color);
  transition: fill var(--trasition-effect);
}

.category-card:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.category-card:hover .category-card-text {
  color: var(--secondary-color);
}

.category-card:hover .icon-cat-uikits,
.category-card:hover .icon-cat-presentation,
.category-card:hover .icon-cat-illustration {
  stroke: var(--secondary-color);
}

.category-card:hover .icon-cat-media {
  fill: var(--secondary-color);
}

/*************** Values section ***********************/

.values {
  display: flex;
  column-gap: 115px;
  align-items: center;
}

.values-section {
  max-width: 570px;
}

.values-card-list {
  max-width: 594px;
  display: grid;
  row-gap: 16px;
  background-image: radial-gradient(
    circle 220px at center,
    #1076f61a,
    #ffffff 100%
  );
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: center;
}

.values-card {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 25px 24px;
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow-m);
  background-color: var(--secondary-color);
}

.values-card-icon {
  display: inline-flex;
  max-width: 56px;
  padding: 12px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-s);
}

.values-card-content :first-child {
  margin-bottom: 4px;
}

.card-title-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.values-card-content :last-child {
  color: var(--opacity-80);
}

/**************** Products section *****************/

.products {
  text-align: center;
}

.products-images {
  margin: 0 auto;
  margin-top: 48px;
  padding-top: 48px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.products-images-item {
  display: block;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: transform var(--trasition-effect);
}

.products-images-item:hover {
  transform: translateY(-48px);
}

/************* Awards section ****************/

.awards {
  padding-block: 100px;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 80px;
  align-items: center;
  position: relative;
}

.awards::after {
  content: "";
  width: 550px;
  height: 430px;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: -1;
  border-radius: var(--border-radius-m);
  background-image: url("../img/img-backgounds/awards-bg.webp");
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: cover;
}

.awards-content {
  max-width: 466px;
}

.awards-card-list {
  max-width: 370px;
  width: 100%;
  display: grid;
  row-gap: 10px;
  position: relative;
  bottom: -95px;
}

.awards-card {
  display: flex;
  column-gap: 16px;
  align-items: center;
  padding: 16px;
  box-shadow: var(--box-shadow-m);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-s);
}

.awards-card::before {
  content: url("../img/icons/icon-reward.svg");
  display: flex;
  align-items: flex-end;
  width: 56px;
  height: 56px;
}

.awards-card-content :first-child {
  color: var(--opacity-80);
}

.awards-card-content :last-child {
  font-weight: var(--font-bold);
  margin-top: 4px;
}

/************ Testimonials section ****************/

.testimonials {
  padding-bottom: 120px;
  position: relative;
}

.testimonials-bg {
  border-radius: var(--border-radius-m);
  background: var(--bg-color);
  padding: 0;
}

.testimonials-bg::before {
  content: "";
  height: 490px;
  display: block;
  background-image: url("../img/img-backgounds/img-testimonials/testimonials1.webp"),
    url("../img/img-backgounds/img-testimonials/testimonials2.webp"),
    url("../img/img-backgounds/img-testimonials/testimonials3.webp");
  background-size: 500px, 580px, 350px;
  background-position: top -480px left 200px, top right, bottom left 400px;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  opacity: 30%;
}

.testimonials-wrapper {
  display: flex;
  justify-content: center;
  gap: 300px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}

.testimonials-card {
  max-width: 630px;
  padding: 40px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow-m);
}

.testimonials-card-text {
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}

.testimonials-card-details {
  display: flex;
  align-items: flex-end;
}

.testimonials-card-name {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.testimonials-card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.testimonials-rating::after {
  content: "";
  display: block;
  margin-top: 6px;
  max-width: 80px;
  height: 16px;
  mask-image: url("../img/icons/icon-star.svg");
  background-color: var(--accent-color);
  mask-size: 16px;
  mask-repeat: repeat-x;
}

.testimonials-btn-group {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.btn-arrow {
  padding: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background-color: var(--bg-color);
  fill: var(--accent-color);
  cursor: pointer;
  transition: all var(--trasition-effect);
}

.arrow-less {
  margin-top: 4px;
  margin-right: 4px;
  rotate: 90deg;
}

.arrow-greater {
  margin-top: 4px;
  margin-left: 4px;
  rotate: -90deg;
}

.btn-arrow:hover,
.btn-arrow:active,
.btn-arrow:focus {
  fill: var(--secondary-color);
  background-color: var(--accent-color);
}

/*************** Pricing section *******************/

.pricing .section-name,
.pricing .section-title {
  text-align: center;
  margin-inline: auto;
  max-width: 566px;
}

.membership-plan-list {
  margin-top: 48px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.membership-plan {
  max-width: 400px;
  width: 100%;
  padding: 32px;
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow-m);
}

.membership-plan-title {
  margin-bottom: 16px;
  text-transform: capitalize;
}

.membership-plan-price {
  margin-bottom: 32px;
  color: var(--opacity-50);
  text-align: left;
}
.membership-plan-number {
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 48px;
  line-height: 1.2;
  color: var(--primary-color);
  overflow: hidden;
  text-wrap: wrap;
  word-break: break-all;
}

.plan-details-list {
  padding: 40px 32px;
  border-top: 1px solid var(--opacity-15);
}

.plan-details-item {
  position: relative;
  text-transform: capitalize;
}

.plan-details-item:not(:last-child) {
  margin-bottom: 16px;
}

.plan-details-item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  mask-image: url("../img/icons/icon-checked-m.svg");
  mask-repeat: no-repeat;
  background-color: var(--accent-color);
  mask-size: 16px;
  position: absolute;
  left: -32px;
  top: 15%;
}

.btn-member {
  display: block;
  width: 100%;
  padding: 20px 46px;
  border: none;
  background-color: var(--bg-color);
  border-radius: var(--border-radius-s);
  text-align: center;
  color: var(--accent-color);
  transition: var(--trasition-effect);
}

.btn-member:hover,
.btn-member:active,
.btn-member:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.label-bestseller {
  padding: 4px 6px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-s);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  font-size: 8px;
  line-height: 1.25;
  color: var(--secondary-color);
  position: absolute;
  top: 16px;
  right: 16px;
}

.bestseller {
  border: 2px solid var(--accent-color);
  translate: 0 -32px;
}

.bestseller .btn-member {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  transition: var(--trasition-effect);
}

.bestseller .btn-member:hover,
.bestseller .btn-member:active,
.bestseller .btn-member:focus {
  background-color: var(--state-change-color);
}

/********* Brands section ************/

.brands {
  padding-block: 28px;
  display: flex;
  column-gap: 120px;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: space-between;
  scrollbar-width: none;
}

.brands-item {
  max-width: 166px;
}

.brands-item-img {
  opacity: 25%;
}

/****************** FAQs section ********************/

.faqs {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  position: relative;
  /* border: 1px solid #000; */
}

.faqs::before {
  content: "";
  display: block;
  width: 700px;
  height: 700px;
  background: radial-gradient(circle 600px at center, #1076f633, #ffffff 60%);
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -200px;
  left: 25%;
  z-index: -1;
}

.faqs-wrapper {
  max-width: 355px;
  display: grid;
  align-content: space-between;
}

.btn-faqs {
  margin-bottom: 38px;
  width: fit-content;
  padding: 10px 46px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg-color);
  color: var(--accent-color);
  transition: var(--trasition-effect);
}

.btn-faqs:hover,
.btn-faqs:active,
.btn-faqs:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.faqs-list {
  max-width: 700px;
  width: 100%;
  display: grid;
  row-gap: 16px;
}

.faqs-details {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-s);
  box-shadow: var(--box-shadow-m);
  padding: 24px;
  border: 2px solid transparent;
  transition: border var(--trasition-effect);
}

.faqs-details[open] {
  border: 2px solid var(--accent-color);
}

.faqs-name {
  display: flex;
  align-items: center;
  cursor: pointer;
  list-style: none;
}

.faqs-name-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.faqs-details:not([open]):hover,
.faqs-details:not([open]):active,
.faqs-details:not([open]):focus {
  border: 2px solid var(--accent-color);
}

.faqs-name::-webkit-details-marker,
.faqs-name::marker {
  display: none;
}

.faqs-name::after {
  content: "";
  display: block;
  margin-left: auto;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  mask-image: url("../img/icons/icon-arrow-down.svg");
  mask-repeat: no-repeat;
  mask-size: 13px;
  mask-position: center;
  background-color: var(--accent-color);
  transition: transform var(--trasition-effect);
}

.faqs-details[open] .faqs-name::after {
  transform: rotateX(180deg);
}

.fasq-text {
  margin-top: 16px;
  color: var(--opacity-70);
  word-break: break-all;
}

.faqs-name::first-letter,
.fasq-text::first-letter {
  text-transform: capitalize;
}

/***************** Blog secion ********************/

.blog-header-block {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: flex-end;
  /* margin-bottom: 48px; */
  margin-bottom: 40px;
}

.blog .section-title {
  max-width: 355px;
}

.blog-link {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: var(--accent-color);
  border-bottom: 1px solid transparent;
  transition: color var(--trasition-effect);
}

.icon-blog-link {
  flex-shrink: 0;
  fill: var(--accent-color);
  rotate: -90deg;
  transition: fill var(--trasition-effect);
}

.blog-link:hover,
.blog-link:active,
.blog-link:focus {
  border-bottom: 1px solid var(--accent-color);
}

.blog-list {
  display: grid;
  grid-template-columns: fit-content(764px) fit-content(488px);
  grid-auto-flow: dense;
  gap: 24px;
  overflow: hidden;
}

.blog-card-link {
  color: inherit;
}

.blog-card {
  position: relative;
  overflow: hidden;
}

.label-asset {
  padding: 4px 20px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-m);
  color: var(--secondary-color);
  text-transform: uppercase;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}

.blog-img {
  scale: 1.1;
  transition: scale var(--trasition-effect);
}

.blog-card-link:hover .blog-img,
.blog-card-link:active .blog-img,
.blog-card-link:focus .blog-img {
  scale: 1.2;
}

.blog-card-img {
  margin-bottom: 16px;
  object-fit: cover;
  overflow: hidden;
  border-radius: var(--border-radius-m);
}

.blog-card-header {
  margin-bottom: 12px;
  text-transform: capitalize;
  text-wrap: wrap;
}

.blog-card-date {
  color: var(--opacity-50);
  text-transform: uppercase;
}

.blog-card-main {
  grid-column: 1/2;
  grid-row: 1/3;
}

.blog-card-main .blog-card-header {
  margin-top: 24px;
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 28px;
  line-height: 1.4;
  text-transform: capitalize;
}

.blog-card-top {
  grid-column: 2/3;
  grid-row: 1/2;
  text-wrap: nowrap;
}

.blog-card-bottom {
  grid-column: 2/3;
  grid-row: 2/3;
}

/*********** CTA call to action section *************/

.cta {
  overflow: hidden;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff00 100%),
    linear-gradient(to top, #afccef 0%, rgba(255, 255, 255, 0) 100%),
    url("../img/img-backgounds/img-cta/cta-bg2.webp"),
    url("../img/img-backgounds/img-cta/cta-bg4.webp");
  background-repeat: no-repeat, no-repeat, repeat-x, repeat-x;
  background-size: cover, cover, 693px 440px, 693px 440px;
  background-position: top, bottom, -43% 0%, -5% 145%;
  background-color: var(--bg-color);
}

.cta-content-box {
  margin-inline: auto;
  margin-block: 200px 230px;
  max-width: 725px;
  padding: 32px 40px;
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow-m);
}

.cta-content-box .section-title {
  margin-bottom: 32px;
}

/************** Footer ******************/

.footer-section {
  margin-block: 100px 110px;
  display: flex;
  column-gap: 100px;
  justify-content: space-between;
}

.footer-left-block {
  max-width: 415px;
  display: grid;
  align-content: space-between;
}

.logo-footer {
  display: block;
  margin-bottom: 28px;
  font-family: var(--font-header);
  font-weight: 800;
  font-size: 72px;
  line-height: 0.8;
  color: var(--accent-color);
  cursor: pointer;
  transition: color var(--trasition-effect);
}

.logo-footer:hover,
.logo-footer:active,
.logo-footer:focus {
  color: var(--state-change-color);
}

.footer-mediabtns {
  display: flex;
  column-gap: 10px;
}

.footer-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: var(--bg-color);
  border-radius: 50px;
  text-align: center;
  color: var(--accent-color);
  font-family: var(--font-header);
  font-weight: 800;
  font-size: var(--secondary-font-size);
  line-height: var(--primary-line-height);
  transition: var(--trasition-effect);
}

.footer-media:hover,
.footer-media:active,
.footer-media:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.footer-right-block {
  width: 100%;
  display: grid;
  row-gap: 64px;
}

.sitemap-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer-nav-list {
  margin-top: 16px;
}

.footer-nav-link {
  color: var(--opacity-50);
  border-bottom: 1px solid transparent;
  transition: var(--trasition-effect);
}

.footer-nav-link:hover,
.footer-nav-link:active,
.footer-nav-link:focus {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.newsletter-form {
  display: flex;
}

.newsletter-label {
  max-width: 250px;
  width: 100%;
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 24px;
  line-height: 1.3;
  padding-right: 20px;
}

.newsletter-input {
  margin-left: auto;
  padding: 20px;
  max-width: 320px;
  width: 100%;
  align-self: start;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-s);
  border: 1px solid var(--opacity-15);
  transition: border var(--trasition-effect);
}

.newsletter-input::placeholder {
  font-family: var(--font-paragraph);
  font-weight: var(--font-normal);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  color: var(--opacity-50);
}

.newsletter-input::placeholder::first-letter {
  text-transform: capitalize;
}

.newsletter-input:-webkit-autofill,
.newsletter-input:-webkit-autofill:hover,
.newsletter-input:-webkit-autofill:focus {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--opacity-70);
  -webkit-box-shadow: 0 0 0 50px var(--secondary-color) inset;
}

.newsletter-input:hover,
.newsletter-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.btn-newsletter {
  max-width: 138px;
  width: 100%;
  margin-left: 8px;
  padding: 20px 30px;
  align-self: start;
  text-align: center;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-s);
  border: none;
  color: var(--secondary-color);
  transition: background var(--trasition-effect);
}

.btn-newsletter:hover,
.btn-newsletter:active,
.btn-newsletter:focus {
  background-color: var(--state-change-color);
}

.field-validation:valid:not(:placeholder-shown) {
  border: 1px solid var(--system-confirmed-color);
}

.field-validation:invalid:not(:placeholder-shown) {
  border: 1px solid var(--system-error-color);
}

.copyright-section {
  padding-block: 24px;
  background-color: var(--primary-color);
}

.copyright-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-list {
  display: flex;
  column-gap: 24px;
  align-items: baseline;
}

.copyright-link,
.copyright-line,
.copyright-text {
  color: #ffffff80;
}

.copyright-link {
  border-bottom: 1px solid transparent;
  transition: var(--trasition-effect);
}

.copyright-link:hover,
.copyright-link:active,
.copyright-link:focus {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

/************* CATEGORY PAGE *********************/

/************* Header Section **************************/

.category-header {
  padding-block: 64px 100px;
  background: linear-gradient(0.25deg, #ffffff 0.2%, #f0f6fd 100%);
}

.category-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  gap: 48px;
  margin-bottom: 120px;
}

/************* Category filter form *******************/

.category-filter-form {
  grid-column: 1/2;
  grid-row: 1 / span 3;
}

.filter-card {
  max-width: 215px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border: none;
  border-bottom: 1px solid var(--opacity-15);
}

.filter-card-legend {
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 24px;
  line-height: 1.3;
}

.category-filter-list {
  margin-top: 24px;
}

.category-item:not(:last-child) {
  margin-bottom: 12px;
}

.category-filter-label {
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
}

.category-filter-input + .category-filter-label::before {
  content: "";
  display: block;
  flex-shrink: 0;
  padding: 3px 4px;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
}

.category-filter-input:checked + .category-filter-label {
  font-weight: var(--font-bold);
}

.category-filter-input:checked + .category-filter-label::before {
  content: "";
  border-color: var(--accent-color);
  background-image: url("../img/icons/icon-checked-m.svg");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.price-container {
  border: none;
  margin-bottom: 64px;
}

.range-box {
  margin-top: 32px;
}

.price-slider {
  padding-block: 5px;
  position: relative;
}

.price-slider-selected {
  display: flex;
  justify-content: space-between;
  width: 55%;
  position: relative;
  top: 50%;
  left: 15%;
  z-index: 1;
}

.range-line.selected {
  margin: 0 auto;
  width: 80%;
  height: 5px;
  background-color: var(--accent-color);
  opacity: 100%;
}

.range-button {
  width: 16px;
  height: 16px;
  padding: 5px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 50%;
}

.range-line {
  width: 100%;
  height: 5px;
  background-color: var(--opacity-15);
  opacity: 50%;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.range-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.price-nmb {
  appearance: none;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  text-align: center;
}

.price-nmb::placeholder {
  font-weight: var(--font-normal);
}

.price-nmb:out-of-range {
  border: 1px solid var(--system-error-color);
}

.price-nmb:focus {
  border: 1px solid var(--primary-color);
}

/* Removed default arrow buttons in number input */

.price-nmb::-webkit-outer-spin-button,
.price-nmb::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-clearall {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  transition: var(--trasition-effect);
}

.btn-clearall:hover,
.btn-clearall:active,
.btn-clearall:focus {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

/********* Filter current block  ******************/

.filters-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.catalog-display-filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.category-tag {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  padding: 9px 20px 9px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
  color: var(--accent-color);
}

.btn-close {
  border: none;
  background-color: transparent;
}

.icon-close-btn {
  fill: var(--accent-color);
  stroke-width: 1;
  vertical-align: middle;
}

.catalog-select-form {
  display: grid;
  align-content: start;
}

.catalog-select-label {
  color: var(--opacity-50);
}

.catalog-select {
  appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  width: 180px;
  cursor: pointer;
  position: relative;
}

.catalog-select-wrapper {
  display: flex;
  align-items: center;
  max-width: 180px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.cat-select-focus {
  margin-bottom: 4px;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../img/icons/icon-arrow-down.svg");
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  position: absolute;
  right: 0;
  z-index: -1;
  transition: transform var(--trasition-effect);
}

/* Doesn't work active state */
.catalog-select:active + .cat-select-focus {
  transform: rotateX(180deg);
}

.catalog-display-result {
  color: var(--opacity-50);
}

.btn-menu-group {
  display: flex;
  gap: 12px;
}

.btn-menu {
  border: none;
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: var(--border-radius-s);
  transition: background var(--trasition-effect);
}

.icon-layout {
  fill: var(--accent-color);
  vertical-align: middle;
  transition: fill var(--trasition-effect);
}

.btn-menu:hover,
.btn-menu:active,
.btn-menu:focus,
.btn-menu.active {
  background-color: var(--accent-color);
}

.btn-menu:hover .icon-layout,
.btn-menu:active .icon-layout,
.btn-menu:focus .icon-layout,
.btn-menu.active .icon-layout {
  fill: var(--secondary-color);
}

/************ Catalog list ************************/
.catalog {
  display: contents;
}

.catalog-list {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 54px;
  row-gap: 32px;
}

.product-item {
  width: fit-content;
}

.product-item-link {
  color: inherit;
  transition: filter var(--trasition-effect);
}

.product-item-img {
  margin-bottom: 20px;
  border-radius: var(--border-radius-m);
}

.product-description {
  color: var(--opacity-70);
}

.quick-buy-box {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color var(--trasition-effect);
}

.btn-item-cart {
  border: none;
  padding: 8px 28px;
  background-color: var(--bg-color);
  border-radius: 25px;
  transition: background var(--trasition-effect);
}

.icon-addtocart {
  fill: var(--accent-color);
  vertical-align: middle;
  transition: fill var(--trasition-effect);
}

.product-item-link:hover,
.product-item-link:active,
.product-item-link:focus {
  filter: hue-rotate(90deg) opacity(70%);
}

.quick-buy-box:hover,
.quick-buy-box:active,
.quick-buy-box:focus {
  color: var(--accent-color);
}

.quick-buy-box:hover .btn-item-cart,
.quick-buy-box:active .btn-item-cart,
.quick-buy-box:focus .btn-item-cart {
  background-color: var(--accent-color);
}

.quick-buy-box:hover .icon-addtocart,
.quick-buy-box:hover .icon-addtocart,
.quick-buy-box:hover.icon-addtocart {
  fill: var(--secondary-color);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-list {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.pagination-page {
  color: var(--opacity-50);
  transition: color var(--trasition-effect);
}

.pagination-page.active {
  color: var(--accent-color);
}

.pagination-page:hover,
.pagination-page:active,
.pagination-page:focus {
  color: var(--accent-color);
}

/**************** PRODUCT DETAILS PAGE *********************/

.product-main {
  display: grid;
  row-gap: 80px;
}

.product-info {
  margin-top: 64px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  column-gap: 56px;
}

.product-details-galery {
  display: grid;
  height: 100%;
  align-content: stretch;
  row-gap: 16px;
}

.full-size {
  display: block;
  width: fit-content;
  padding: 16px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-s);
  box-shadow: var(--box-shadow-m);
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
  transition: background var(--trasition-effect);
}

.full-size:hover,
.full-size:active,
.full-size:focus {
  background-color: var(--accent-color);
}

.full-size:hover .icon-expand-arrows,
.full-size:active .icon-expand-arrows,
.full-size:focus .icon-expand-arrows {
  fill: var(--secondary-color);
}

.icon-expand-arrows {
  fill: var(--accent-color);
  vertical-align: middle;
  transition: fill var(--trasition-effect);
}

.expanded-img-box {
  position: relative;
  border-radius: var(--border-radius-m);
  overflow: hidden;
}

.expanded-img {
  border-radius: var(--border-radius-m);
  object-fit: cover;
  scale: 1.08 1.15;
}

.prod-image-galery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.image-galery-list {
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-x: auto;
  scrollbar-width: none;
  column-gap: 12px;
}

.image-galery-item {
  border-radius: var(--border-radius-s);
  overflow: hidden;
  cursor: pointer;
  transition: opacity var(--trasition-effect);
}

.image-galery-item.selected {
  opacity: 25%;
}

.image-galery-item:hover,
.image-galery-item:active,
.image-galery-item:focus {
  opacity: 25%;
}

.galery-img {
  display: block;
  object-fit: cover;
  scale: 1 1.5;
}

.product-info-box {
  max-width: 515px;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
  max-width: 130px;
  color: var(--opacity-50);
}

.product-rating::before {
  content: "";
  display: block;
  width: 80px;
  height: 16px;
  background-image: url("../img/icons/icon-star.svg");
  background-color: var(--secondary-color);
  background-size: 16px;
  background-repeat: repeat-x;
  background-position: center;
}

.product-user-info {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-info-text {
  margin-block: 40px 32px;
  color: var(--opacity-70);
}

.product-info-form {
  padding-top: 44px;
  border-top: 1px solid var(--opacity-15);
}

.product-info-fieldset {
  border: none;
}

.product-info-fieldset:first-child {
  margin-bottom: 24px;
}

.product-info-fieldset:nth-child(2) {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-info-checkbox:first-child {
  margin-bottom: 10px;
}

.product-info-label {
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
}

.product-info-price {
  margin-left: auto;
  font-weight: var(--font-bold);
}

.product-info-input + .product-info-label::before {
  content: "";
  display: block;
  flex-shrink: 0;
  padding: 3px 4px;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
}

.product-info-input:checked + .product-info-label {
  font-weight: var(--font-bold);
}

.product-info-input:checked + .product-info-label::before {
  content: "";
  border-color: var(--accent-color);
  background-image: url("../img/icons/icon-checked-m.svg");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
}

.prod-sum-price {
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 28px;
  line-height: 1.4;
  color: var(--accent-color);
}

.product-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn-count {
  background-color: var(--secondary-color);
  border: none;
}

.icon-btn-count {
  fill: var(--opacity-15);
  vertical-align: middle;
  transition: fill var(--trasition-effect);
}

.btn-count:hover .icon-btn-count,
.btn-count:active .icon-btn-count,
.btn-count:focus .icon-btn-count {
  fill: var(--primary-color);
}

.qty-input {
  all: unset;
  width: 80px;
  text-align: center;
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 24px;
  line-height: 1.3;
  color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--trasition-effect);
}

/* Removed default arrow buttons */
.qty-input::-webkit-outer-spin-button,
.qty-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-input::placeholder {
  font-weight: var(--font-normal);
  color: var(--opacity-50);
}

.qty-input:hover,
.qty-input:focus {
  border: 1px solid var(--primary-color);
}

.qty-input:out-of-range {
  border: 1px solid var(--system-error-color);
}

.shop-btn-group {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.btn-prod-buy {
  padding: 20px 46px;
  border-radius: var(--border-radius-s);
  text-align: center;
}

.btn-preview {
  background-color: var(--bg-color);
  color: var(--accent-color);
  transition: var(--trasition-effect);
}

.btn-preview:hover,
.btn-preview:active,
.btn-preview:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.btn-purchase {
  display: block;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  transition: background var(--trasition-effect);
}

.btn-purchase:hover,
.btn-purchase:active,
.btn-purchase:focus {
  background-color: var(--state-change-color);
}

.product-content {
  display: flex;
  justify-content: space-between;
  column-gap: 56px;
}

.product-content-left {
  max-width: 710px;
  width: 100%;
}

.product-content-right {
  max-width: 512px;
  width: 100%;
}

.product-content-title {
  margin-bottom: 24px;
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 28px;
  line-height: 1.4;
  color: var(--primary-color);
}

.product-content-text {
  margin-bottom: 24px;
  color: var(--opacity-70);
}

.product-header-list {
  margin-bottom: 16px;
}

.product-content-list {
  margin-bottom: 24px;
}

.product-content-item {
  display: flex;
  align-items: center;
  column-gap: 18px;
  padding-left: 16px;
  color: var(--opacity-70);
}

.product-content-item:not(:last-child) {
  margin-bottom: 8px;
}

.product-content-item::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.product-details-list {
  margin-bottom: 64px;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
}

.product-details-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: var(--font-bold);
}

.product-details-icon {
  flex-shrink: 0;
}

.product-details-description {
  color: var(--opacity-70);
  text-align: right;
}

.product-details-title:not(:last-of-type),
.product-details-description:not(:last-of-type) {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--opacity-15);
}

.product-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 8px;
}

.product-tag-link {
  display: block;
  padding: 6px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
  color: var(--accent-color);
  transition: var(--trasition-effect);
}

.product-tag-link:hover,
.product-tag-link:active,
.product-tag-link:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.product-related-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

/*************** CTA version 2 *************************/

.cta-product-version {
  padding: 64px 56px;
  border-radius: var(--border-radius-m);
  background-image: url("../img/img-backgounds/img-cta/cta2-bg2.webp"),
    url("../img/img-backgounds/img-cta/cta2-bg1.webp");
  background-size: 274px, 640px;
  background-repeat: no-repeat;
  background-position: bottom center, top -10px right;
  background-color: var(--bg-color);
  position: relative;
  transform: translateY(50%);
  margin-top: -200px;
}

.cta-product-version::after {
  content: "";
  width: 56px;
  height: 56px;
  border-radius: var(--border-radius-s);
  box-shadow: var(--box-shadow-m);
  background-image: url("../img/icons/icon-fonts.svg");
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  position: absolute;
  top: 80px;
  right: 16px;
}

.cta-product-content {
  max-width: 385px;
}

/********** Footer version 2 ********************/

.prod-footer {
  padding-top: 200px;
  background-color: var(--primary-color);
}

.prod-footer-section {
  padding-block: 114px 96px;
  display: grid;
  grid-template-columns: fit-content(475px) repeat(3, fit-content(180px));
  grid-template-rows: fit-content(475px) auto;
  justify-content: space-between;
  grid-column-gap: 20px;
  grid-row-gap: 72px;
}

.prod-footer-logobox {
  grid-column: 1/2;
  grid-row: 1/2;
  /* border: 1px solid #fff; */
}

.prod-logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: var(--font-header);
  font-weight: 800;
  font-size: 60px;
  line-height: 1.2;
  color: var(--secondary-color);
  cursor: pointer;
  transition: color var(--trasition-effect);
}

.prod-logo-footer:hover,
.prod-logo-footer:active,
.prod-logo-footer:focus {
  color: var(--accent-color);
}

.prod-footer-description {
  max-width: 424px;
  color: var(--secondary-color);
}

.footer-prod-company {
  grid-column: 2/3;
  grid-row: 1/2;
  /* border: 1px solid #fff; */
}

.footer-prod-products {
  grid-column: 3/4;
  grid-row: 1/2;
  /* border: 1px solid #fff; */
}

.footer-prod-account {
  grid-column: 4/5;
  grid-row: 1/2;
  /* border: 1px solid #fff; */
}

.prod-newsletter-form {
  width: 475px;
  grid-column: 1/2;
  grid-row: 2/3;
  /* border: 1px solid #fff; */
}

.footer-prod-mediabtns {
  grid-column: 2/5;
  grid-row: 2/3;
  /* border: 1px solid #fff; */
}

.footer-prod-title {
  color: var(--secondary-color);
}

.footer-prod-link {
  color: #ffffff80;
  border-bottom: 1px solid transparent;
  transition: var(--trasition-effect);
}

.footer-prod-link:hover,
.footer-prod-link:active,
.footer-prod-link:focus {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.footer-media-title {
  margin-bottom: 16px;
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 24px;
  line-height: 1.3;
  text-align: right;
  color: var(--secondary-color);
}

.footer-media-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 10px;
}

.prod-newsletter-label {
  font-family: var(--font-header);
  font-weight: var(--font-bold);
  font-size: 22px;
  line-height: 1.3;
  color: var(--secondary-color);
}

.prod-newsletter-wrapper {
  margin-top: 16px;
  display: flex;
}

.prod-newsletter-input {
  padding: 20px;
  max-width: 320px;
  width: 100%;
  align-self: self-start;
  outline: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-s);
  border: 1px solid transparent;
  box-shadow: 0px 4px 30px 0px #1d395f0d;
  transition: background var(--trasition-effect);
}

.prod-newsletter-input::placeholder {
  font-family: var(--font-paragraph);
  font-weight: var(--font-normal);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  color: var(--opacity-50);
}

.prod-newsletter-input::placeholder::first-letter {
  text-transform: capitalize;
}

.prod-newsletter-input:-webkit-autofill,
.prod-newsletter-input:-webkit-autofill:hover,
.prod-newsletter-input:-webkit-autofill:focus {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--primary-color);
  -webkit-box-shadow: 0 0 0 50px var(--secondary-color) inset;
}

.prod-newsletter-input:hover,
.prod-newsletter-input:focus {
  border: 1px solid var(--accent-color);
}

/****************** CONTACT PAGE  ************************/

.contact-main {
  background: linear-gradient(0.25deg, #ffffff 0.2%, #f0f6fd 100%);
}

.contact-section {
  padding-top: 64px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 96px;
}

.contact-header-block {
  max-width: 510px;
  margin-bottom: 32px;
  text-wrap: balance;
}

.contact-list {
  margin-bottom: 48px;
}

.contact-list-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: var(--primary-color);
  position: relative;
}

.contact-link {
  color: var(--primary-color);
  border-bottom: 1px solid transparent;
  transition: border var(--trasition-effect);
}

.contact-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-link:hover,
.contact-link:active,
.contact-link:focus {
  border-bottom: 1px solid var(--primary-color);
}

.contact-phone::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/icon-phone.svg");
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.contact-mail::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/icon-mail.svg");
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.contact-openhours::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/icon-clock.svg");
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.contact-location {
  position: relative;
}

.map-location {
  border-radius: var(--border-radius-m);
  filter: grayscale(100%) brightness(1.2);
}

.contact-address {
  max-width: 350px;
  width: 100%;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-s);
  box-shadow: var(--box-shadow-m);
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.contact-address::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/icon-location.svg");
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contact-address-link {
  color: inherit;
}

.contact-address-link:hover .contact-address-title,
.contact-address-link:active .contact-address-title,
.contact-address-link:focus .contact-address-title {
  border-bottom: 1px solid var(--primary-color);
}

.contact-address-title {
  width: fit-content;
  font-weight: var(--font-bold);
  border-bottom: 1px solid transparent;
  transition: border var(--trasition-effect);
}
.contact-address-text {
  color: var(--opacity-70);
}

/****************** Contact form  **************************/

.contact-form {
  max-width: 630px;
  width: 100%;
  padding: 40px 40px 48px 40px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow-m);
}

.contact-label {
  display: block;
  margin-bottom: 8px;
}

.contact-input,
.contact-select,
.contact-textarea {
  display: block;
  width: 100%;
  outline: none;
  padding: 20px;
  border: 1px solid var(--opacity-15);
  border-radius: var(--border-radius-s);
  color: var(--primary-color);
}

.contact-input::placeholder,
.contact-textarea::placeholder,
.contact-textarea::placeholder {
  font-family: var(--font-paragraph);
  font-weight: var(--font-normal);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  color: var(--opacity-50);
}

.contact-input {
  cursor: pointer;
  margin-bottom: 20px;
  transition: border var(--trasition-effect);
}

.contact-input:hover,
.contact-input:focus,
.contact-select:hover,
.contact-select:focus,
.contact-textarea:hover,
.contact-textarea:focus {
  border: 1px solid var(--accent-color);
}

.contact-input:-webkit-autofill,
.contact-input:-webkit-autofill:hover,
.contact-input:-webkit-autofill:focus {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--opacity-70);
  -webkit-box-shadow: 0 0 0 50px var(--secondary-color) inset;
}

.contact-select-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.contact-select {
  appearance: none;
  cursor: pointer;
  transition: border var(--trasition-effect);
}

.contact-select-focus {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  background-image: url("../img/icons/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  position: absolute;
  right: 20px;
  transition: transform var(--trasition-effect);
}

.contact-select:focus + .contact-select-focus {
  transform: rotateX(180deg);
}

.contact-textarea {
  cursor: pointer;
  margin-bottom: 24px;
  resize: none;
  transition: border var(--trasition-effect);
}

.contact-check-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-check-item:first-child {
  margin-bottom: 6px;
}

.contact-checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  cursor: pointer;
}

.contact-checkbox-input + .contact-checkbox-label::before {
  content: "";
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-color: var(--bg-color);
  border-radius: 4px;
}

.contact-checkbox-input:checked + .contact-checkbox-label::before {
  content: "";
  background-image: url("../img/icons/icon-checked-m.svg");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
}

.btn-contact {
  padding: 20px 46px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-s);
  border: none;
  color: var(--secondary-color);
  transition: background var(--trasition-effect);
}

.btn-contact:hover,
.btn-contact:active,
.btn-contact:focus {
  background-color: var(--state-change-color);
}

.contact-checkbox-link {
  border-bottom: 1px solid transparent;
  transition: border var(--trasition-effect);
}

.contact-checkbox-link:hover,
.contact-checkbox-link:active,
.contact-checkbox-link:focus {
  border-bottom: 1px solid var(--accent-color);
}
